# Define Dataset

In [1]:
import pandas as pd

# Membuat dataset contoh
data = {
    "tanggal": pd.date_range(start="2024-01-01", periods=12, freq="M"),
    "produk": ["Laptop", "Laptop", "Laptop", "Smartphone", "Smartphone", "Smartphone",
               "Tablet", "Tablet", "Tablet", "Laptop", "Smartphone", "Tablet"],
    "lokasi": ["Jakarta", "Bandung", "Surabaya", "Jakarta", "Bandung", "Surabaya",
               "Jakarta", "Bandung", "Surabaya", "Jakarta", "Jakarta", "Bandung"],
    "penjualan": [100, 120, 90, 200, 150, 180, 50, 70, 60, 130, 220, 80]
}

df = pd.DataFrame(data)
print(df)

      tanggal      produk    lokasi  penjualan
0  2024-01-31      Laptop   Jakarta        100
1  2024-02-29      Laptop   Bandung        120
2  2024-03-31      Laptop  Surabaya         90
3  2024-04-30  Smartphone   Jakarta        200
4  2024-05-31  Smartphone   Bandung        150
5  2024-06-30  Smartphone  Surabaya        180
6  2024-07-31      Tablet   Jakarta         50
7  2024-08-31      Tablet   Bandung         70
8  2024-09-30      Tablet  Surabaya         60
9  2024-10-31      Laptop   Jakarta        130
10 2024-11-30  Smartphone   Jakarta        220
11 2024-12-31      Tablet   Bandung         80

C:\Users\Administrator\AppData\Local\Temp\ipykernel_3124\1520995962.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  "tanggal": pd.date_range(start="2024-01-01", periods=12, freq="M"),

# Membentuk Data Cube OLAP

In [2]:
# Membuat OLAP Cube menggunakan pivot_table
cube = df.pivot_table(values="penjualan", index=["produk", "lokasi"], columns=pd.Grouper(key="tanggal", freq="Q"), aggfunc="sum")

print("\nData Cube (Pivot Table):")
print(cube)

Data Cube (Pivot Table):
tanggal              2024-03-31  2024-06-30  2024-09-30  2024-12-31
produk     lokasi
Laptop     Bandung        120.0         NaN         NaN         NaN
           Jakarta        100.0         NaN         NaN       130.0
           Surabaya        90.0         NaN         NaN         NaN
Smartphone Bandung          NaN       150.0         NaN         NaN
           Jakarta          NaN       200.0         NaN       220.0
           Surabaya         NaN       180.0         NaN         NaN
Tablet     Bandung          NaN         NaN        70.0        80.0
           Jakarta          NaN         NaN        50.0         NaN
           Surabaya         NaN         NaN        60.0         NaN

C:\Users\Administrator\AppData\Local\Temp\ipykernel_3124\1766942949.py:2: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  cube = df.pivot_table(values="penjualan", index=["produk", "lokasi"], columns=pd.Grouper(key="tanggal", freq="Q"), aggfunc="sum")

# Query OLAP pada Data Cube

In [6]:
# Roll Up

rollup = df.groupby(["produk"]).agg({"penjualan": "sum"})
print("\nROLL-UP: Total Penjualan per Produk")
print(rollup)

ROLL-UP: Total Penjualan per Produk
            penjualan
produk
Laptop            440
Smartphone        750
Tablet            260

In [7]:
# Drill Down

drilldown = df.groupby(["produk", "lokasi"]).agg({"penjualan": "sum"})
print("\nDRILL-DOWN: Total Penjualan per Produk dan Lokasi")
print(drilldown)

DRILL-DOWN: Total Penjualan per Produk dan Lokasi
                     penjualan
produk     lokasi
Laptop     Bandung         120
           Jakarta         230
           Surabaya         90
Smartphone Bandung         150
           Jakarta         420
           Surabaya        180
Tablet     Bandung         150
           Jakarta          50
           Surabaya         60

In [8]:
#Slice 

slice_laptop = df[df["produk"] == "Laptop"]
print("\nSLICE: Penjualan Laptop")
print(slice_laptop)

SLICE: Penjualan Laptop
     tanggal  produk    lokasi  penjualan
0 2024-01-31  Laptop   Jakarta        100
1 2024-02-29  Laptop   Bandung        120
2 2024-03-31  Laptop  Surabaya         90
9 2024-10-31  Laptop   Jakarta        130

In [9]:
# Dice

dice_laptop_jakarta = df[(df["produk"] == "Laptop") & (df["lokasi"] == "Jakarta")]
print("\nDICE: Penjualan Laptop di Jakarta")
print(dice_laptop_jakarta)

DICE: Penjualan Laptop di Jakarta
     tanggal  produk   lokasi  penjualan
0 2024-01-31  Laptop  Jakarta        100
9 2024-10-31  Laptop  Jakarta        130