# Dataset Mahasiswa

In [3]:
import numpy as py
import pandas as pd
# Membaca ulang dataset dengan delimiter ';'
df = pd.read_csv('data_mahasiswa.csv', delimiter=';')

# Menampilkan informasi dasar dan beberapa baris pertama
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 43 columns):
 #   Column                                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                                               --------------  -----
 0   Email Address                                                                                                                                        497 non-null    object
 1   Nama Lengkap Mahasiswa                                                                                                                               506 non-null    object
 2   NIM                                                                                                                                                  506 non-null    object
 3   Program Studi Mahasiswa                                                                                                                              506 non-null    object
 4   Angkatan Mahasiswa                                                                                                                                   506 non-null    object
 5   Berapa lama waktu yang Anda habiskan menggunakan laptop setiap hari?                                                                                 506 non-null    object
 6   Apakah Anda biasanya menggunakan media sosial melalui laptop?                                                                                        506 non-null    object
 7   Berapa lama waktu yang Anda habiskan menggunakan media sosial melalui Laptop setiap hari?                                                            194 non-null    object
 8   Media sosial apa yang Anda aktifkan saat menggunakan laptop? (Centang semua yang sesuai)                                                             194 non-null    object
 9   Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Instagram melalui laptop? (Hubungkan dengan media sosial yang dipilih)    174 non-null    object
 10  Jenis konten apa yang paling sering Anda tonton atau akses di media sosial TikTok melalui laptop? (Hubungkan dengan media sosial yang dipilih)       150 non-null    object
 11  Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Youtube melalui laptop? (Hubungkan dengan media sosial yang dipilih)      189 non-null    object
 12  Berapa lama waktu yang Anda habiskan menggunakan ponsel setiap hari?                                                                                 506 non-null    object
 13  Apakah Anda biasanya menggunakan media sosial melalui ponsel?                                                                                        506 non-null    object
 14  Berapa lama waktu yang Anda habiskan menggunakan media sosial melalui Ponsel setiap hari?                                                            495 non-null    object
 15  Media sosial apa yang Anda aktifkan saat menggunakan ponsel?                                                                                         495 non-null    object
 16  Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Instagram melalui ponsel? (Hubungkan dengan media sosial yang dipilih)    491 non-null    object
 17  Jenis konten apa yang paling sering Anda tonton atau akses di media sosial TikTok melalui ponsel? (Hubungkan dengan media sosial yang dipilih)       439 non-null    object
 18  Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Youtube melalui ponsel? (Hubungkan dengan media sosial yang dipilih)      455 non-null    object
 19  Apakah Anda pernah bergabung dengan Organisasi Kampus? ( Khususnya BEM atau MPM)                                                                     506 non-null    object
 20  Organisasi Apa yang pernah anda ikuti ?                                                                                                              92 non-null     object
 21  Departemen apa yang pernah Anda ikuti ?                                                                                                              67 non-null     object
 22  Apakah Anda terlibat dalam salah satu atau lebih UKM?                                                                                                481 non-null    object
 23   UKM apa yang pernah anada ikuti ? (Dapat memilih lebih dari satu)                                                                                   140 non-null    object
 24  Apakah Anda pernah mengikuti program kursus atau bootcamp?                                                                                           506 non-null    object
 25  Apa jenis kursus atau bootcamp yang pernah anda ikuti?                                                                                               166 non-null    object
 26  Berapa rata-rata peringkat Anda di kelas pada jenjang SD(Sekolah Dasar)?                                                                             506 non-null    object
 27  Berapa rata-rata peringkat Anda di kelas pada jenjang SMP( Sekolah Menengah Pertama )?                                                               506 non-null    object
 28  Berapa rata-rata peringkat Anda di kelas pada jenjang SMA( Sekolah Menengah Atas  )?                                                                 506 non-null    object
 29  Berapa rata-rata nilai Matematika Anda pada Ujian Sekolah (nilai Ijazah) di SMA?                                                                     506 non-null    object
 30  Berapa rata-rata nilai Fisika Anda pada Ujian Sekolah (nilai Ijazah) di SMA? ( jika sebelumnya berasal dari IPS atau SMK bisa memilih range D)       506 non-null    object
 31  Berapa rata-rata nilai Biologi Anda pada Ujian Sekolah (nilai Ijazah)  di SMA?  ( jika sebelumnya berasal dari IPS atau SMK bisa memilih range D)    506 non-null    object
 32  Berapa rata-rata nilai Kimia Anda pada Ujian Sekolah (nilai Ijazah)  di SMA?  ( jika sebelumnya berasal dari IPS atau SMK bisa memilih range D)      506 non-null    object
 33  Apakah Anda pernah mengikuti olimpiade atau kompetisi akademik?                                                                                      506 non-null    object
 34  Tingkat manakah Anda mengikuti olimpiade?                                                                                                            302 non-null    object
 35  Berapa jumlah saudara yang Anda miliki?                                                                                                              506 non-null    object
 36  Apa Pekerjaan Ayah Anda?                                                                                                                             506 non-null    object
 37  Apa Pendidikan Terakhir Ayah Anda?                                                                                                                   506 non-null    object
 38  Berapa Range Penghasilan Ayah Anda?                                                                                                                  506 non-null    object
 39  Apa Pekerjaan Ibu Anda?                                                                                                                              506 non-null    object
 40  Apa Pendidikan Terakhir Ibu Anda?                                                                                                                    506 non-null    object
 41  Berapa Rentang Penghasilan Ibu Anda?                                                                                                                 506 non-null    object
 42  Programming Skill                                                                                                                                    507 non-null    int64
dtypes: int64(1), object(42)
memory usage: 170.4+ KB

(None,
   Email Address         Nama Lengkap Mahasiswa      NIM   \
 0           NaN                            NaN       NaN
 1           NaN  Samuel Saut Royzeki Aritonang  11422026
 2           NaN            Calvin Josep Silaen  11422038
 3           NaN                Indah Silitonga  11422060
 4           NaN             Asri Yohana Sirait  11422029

                              Program Studi Mahasiswa Angkatan Mahasiswa  \
 0                                                NaN                NaN
 1  Sarjana Terapan Teknologi Rekayasa Perangkat L...               2022
 2  Sarjana Terapan Teknologi Rekayasa Perangkat L...               2022
 3  Sarjana Terapan Teknologi Rekayasa Perangkat L...               2022
 4  Sarjana Terapan Teknologi Rekayasa Perangkat L...               2022

   Berapa lama waktu yang Anda habiskan menggunakan laptop setiap hari?    \
 0                                                NaN
 1                                         9 - 11 jam
 2                                          6 - 8 jam
 3                                          6 - 8 jam
 4                                          3 - 5 jam

   Apakah Anda biasanya menggunakan media sosial melalui laptop?    \
 0                                                NaN
 1                                                 Ya
 2                                              Tidak
 3                                                 Ya
 4                                              Tidak

   Berapa lama waktu yang Anda habiskan menggunakan media sosial melalui Laptop setiap hari?    \
 0                                                NaN
 1                                          3 - 5 jam
 2                                                NaN
 3                                          0 - 2 jam
 4                                                NaN

   Media sosial apa yang Anda aktifkan saat menggunakan laptop? (Centang semua yang sesuai)  \
 0                                                NaN
 1                                  Instagram, Tiktok
 2                                                NaN
 3                                          Instagram
 4                                                NaN

   Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Instagram melalui laptop? (Hubungkan dengan media sosial yang dipilih)    \
 0                                                NaN
 1  Hiburan (Video lucu, meme, dll.), Edukasi (Tut...
 2                                                NaN
 3                   Hiburan (Video lucu, meme, dll.)
 4                                                NaN

    ... Apakah Anda pernah mengikuti olimpiade atau kompetisi akademik?  \
 0  ...                                                NaN
 1  ...                                              Tidak
 2  ...                                              Tidak
 3  ...                                              Tidak
 4  ...                                                 Ya

           Tingkat manakah Anda mengikuti olimpiade?   \
 0                                                NaN
 1                                                NaN
 2                                                NaN
 3                                                NaN
 4  Tingkat Lokal (Kabupaten/Kota), Tingkat Region...

   Berapa jumlah saudara yang Anda miliki?  Apa Pekerjaan Ayah Anda?   \
 0                                      NaN                       NaN
 1                                   05-Jun     telah meninggal dunia
 2                                   03-Apr            Petani/pekebun
 3                                   03-Apr            Petani/pekebun
 4                                   03-Apr            Petani/pekebun

   Apa Pendidikan Terakhir Ayah Anda? Berapa Range Penghasilan Ayah Anda?  \
 0                                NaN                                 NaN
 1                      SMP/sederajat           Rp. 500,000 - Rp. 999,999
 2           Diploma IV atau Strata I       Rp. 2,000,000 - Rp. 4,999,999
 3                      SMA/sederajat       Rp. 1,000,000 - Rp. 1,999,999
 4                      SMA/sederajat       Rp. 2,000,000 - Rp. 4,999,999

   Apa Pekerjaan Ibu Anda? Apa Pendidikan Terakhir Ibu Anda?  \
 0                     NaN                               NaN
 1    Pegawai negeri sipil                       Diploma III
 2             Perdagangan          Diploma IV atau Strata I
 3    Pegawai negeri sipil          Diploma IV atau Strata I
 4          Petani/pekebun                     SMA/sederajat

   Berapa Rentang Penghasilan Ibu Anda? Programming Skill
 0                                  NaN                43
 1        Rp. 2,000,000 - Rp. 4,999,999                70
 2        Rp. 2,000,000 - Rp. 4,999,999                42
 3        Rp. 2,000,000 - Rp. 4,999,999                36
 4        Rp. 2,000,000 - Rp. 4,999,999                56

 [5 rows x 43 columns])

In [4]:
# Menghapus kolom yang seluruhnya kosong
df_cleaned = df.dropna(how='all', axis=1)

# Menghapus baris yang tidak memiliki data valid di sebagian besar kolom
df_cleaned = df_cleaned.dropna(thresh=int(0.5 * len(df_cleaned.columns)))

# Menampilkan informasi setelah pembersihan
df_cleaned.info(), df_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
Index: 506 entries, 1 to 506
Data columns (total 43 columns):
 #   Column                                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                                               --------------  -----
 0   Email Address                                                                                                                                        497 non-null    object
 1   Nama Lengkap Mahasiswa                                                                                                                               506 non-null    object
 2   NIM                                                                                                                                                  506 non-null    object
 3   Program Studi Mahasiswa                                                                                                                              506 non-null    object
 4   Angkatan Mahasiswa                                                                                                                                   506 non-null    object
 5   Berapa lama waktu yang Anda habiskan menggunakan laptop setiap hari?                                                                                 506 non-null    object
 6   Apakah Anda biasanya menggunakan media sosial melalui laptop?                                                                                        506 non-null    object
 7   Berapa lama waktu yang Anda habiskan menggunakan media sosial melalui Laptop setiap hari?                                                            194 non-null    object
 8   Media sosial apa yang Anda aktifkan saat menggunakan laptop? (Centang semua yang sesuai)                                                             194 non-null    object
 9   Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Instagram melalui laptop? (Hubungkan dengan media sosial yang dipilih)    174 non-null    object
 10  Jenis konten apa yang paling sering Anda tonton atau akses di media sosial TikTok melalui laptop? (Hubungkan dengan media sosial yang dipilih)       150 non-null    object
 11  Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Youtube melalui laptop? (Hubungkan dengan media sosial yang dipilih)      189 non-null    object
 12  Berapa lama waktu yang Anda habiskan menggunakan ponsel setiap hari?                                                                                 506 non-null    object
 13  Apakah Anda biasanya menggunakan media sosial melalui ponsel?                                                                                        506 non-null    object
 14  Berapa lama waktu yang Anda habiskan menggunakan media sosial melalui Ponsel setiap hari?                                                            495 non-null    object
 15  Media sosial apa yang Anda aktifkan saat menggunakan ponsel?                                                                                         495 non-null    object
 16  Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Instagram melalui ponsel? (Hubungkan dengan media sosial yang dipilih)    491 non-null    object
 17  Jenis konten apa yang paling sering Anda tonton atau akses di media sosial TikTok melalui ponsel? (Hubungkan dengan media sosial yang dipilih)       439 non-null    object
 18  Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Youtube melalui ponsel? (Hubungkan dengan media sosial yang dipilih)      455 non-null    object
 19  Apakah Anda pernah bergabung dengan Organisasi Kampus? ( Khususnya BEM atau MPM)                                                                     506 non-null    object
 20  Organisasi Apa yang pernah anda ikuti ?                                                                                                              92 non-null     object
 21  Departemen apa yang pernah Anda ikuti ?                                                                                                              67 non-null     object
 22  Apakah Anda terlibat dalam salah satu atau lebih UKM?                                                                                                481 non-null    object
 23   UKM apa yang pernah anada ikuti ? (Dapat memilih lebih dari satu)                                                                                   140 non-null    object
 24  Apakah Anda pernah mengikuti program kursus atau bootcamp?                                                                                           506 non-null    object
 25  Apa jenis kursus atau bootcamp yang pernah anda ikuti?                                                                                               166 non-null    object
 26  Berapa rata-rata peringkat Anda di kelas pada jenjang SD(Sekolah Dasar)?                                                                             506 non-null    object
 27  Berapa rata-rata peringkat Anda di kelas pada jenjang SMP( Sekolah Menengah Pertama )?                                                               506 non-null    object
 28  Berapa rata-rata peringkat Anda di kelas pada jenjang SMA( Sekolah Menengah Atas  )?                                                                 506 non-null    object
 29  Berapa rata-rata nilai Matematika Anda pada Ujian Sekolah (nilai Ijazah) di SMA?                                                                     506 non-null    object
 30  Berapa rata-rata nilai Fisika Anda pada Ujian Sekolah (nilai Ijazah) di SMA? ( jika sebelumnya berasal dari IPS atau SMK bisa memilih range D)       506 non-null    object
 31  Berapa rata-rata nilai Biologi Anda pada Ujian Sekolah (nilai Ijazah)  di SMA?  ( jika sebelumnya berasal dari IPS atau SMK bisa memilih range D)    506 non-null    object
 32  Berapa rata-rata nilai Kimia Anda pada Ujian Sekolah (nilai Ijazah)  di SMA?  ( jika sebelumnya berasal dari IPS atau SMK bisa memilih range D)      506 non-null    object
 33  Apakah Anda pernah mengikuti olimpiade atau kompetisi akademik?                                                                                      506 non-null    object
 34  Tingkat manakah Anda mengikuti olimpiade?                                                                                                            302 non-null    object
 35  Berapa jumlah saudara yang Anda miliki?                                                                                                              506 non-null    object
 36  Apa Pekerjaan Ayah Anda?                                                                                                                             506 non-null    object
 37  Apa Pendidikan Terakhir Ayah Anda?                                                                                                                   506 non-null    object
 38  Berapa Range Penghasilan Ayah Anda?                                                                                                                  506 non-null    object
 39  Apa Pekerjaan Ibu Anda?                                                                                                                              506 non-null    object
 40  Apa Pendidikan Terakhir Ibu Anda?                                                                                                                    506 non-null    object
 41  Berapa Rentang Penghasilan Ibu Anda?                                                                                                                 506 non-null    object
 42  Programming Skill                                                                                                                                    506 non-null    int64
dtypes: int64(1), object(42)
memory usage: 173.9+ KB

(None,
   Email Address         Nama Lengkap Mahasiswa      NIM   \
 1           NaN  Samuel Saut Royzeki Aritonang  11422026
 2           NaN            Calvin Josep Silaen  11422038
 3           NaN                Indah Silitonga  11422060
 4           NaN             Asri Yohana Sirait  11422029
 5           NaN   Ferdianty Mariany Panjaitan   11423008

                              Program Studi Mahasiswa Angkatan Mahasiswa  \
 1  Sarjana Terapan Teknologi Rekayasa Perangkat L...               2022
 2  Sarjana Terapan Teknologi Rekayasa Perangkat L...               2022
 3  Sarjana Terapan Teknologi Rekayasa Perangkat L...               2022
 4  Sarjana Terapan Teknologi Rekayasa Perangkat L...               2022
 5  Sarjana Terapan Teknologi Rekayasa Perangkat L...               2023

   Berapa lama waktu yang Anda habiskan menggunakan laptop setiap hari?    \
 1                                         9 - 11 jam
 2                                          6 - 8 jam
 3                                          6 - 8 jam
 4                                          3 - 5 jam
 5                                         9 - 11 jam

   Apakah Anda biasanya menggunakan media sosial melalui laptop?    \
 1                                                 Ya
 2                                              Tidak
 3                                                 Ya
 4                                              Tidak
 5                                              Tidak

   Berapa lama waktu yang Anda habiskan menggunakan media sosial melalui Laptop setiap hari?    \
 1                                          3 - 5 jam
 2                                                NaN
 3                                          0 - 2 jam
 4                                                NaN
 5                                                NaN

   Media sosial apa yang Anda aktifkan saat menggunakan laptop? (Centang semua yang sesuai)  \
 1                                  Instagram, Tiktok
 2                                                NaN
 3                                          Instagram
 4                                                NaN
 5                                                NaN

   Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Instagram melalui laptop? (Hubungkan dengan media sosial yang dipilih)    \
 1  Hiburan (Video lucu, meme, dll.), Edukasi (Tut...
 2                                                NaN
 3                   Hiburan (Video lucu, meme, dll.)
 4                                                NaN
 5                                                NaN

    ... Apakah Anda pernah mengikuti olimpiade atau kompetisi akademik?  \
 1  ...                                              Tidak
 2  ...                                              Tidak
 3  ...                                              Tidak
 4  ...                                                 Ya
 5  ...                                                 Ya

           Tingkat manakah Anda mengikuti olimpiade?   \
 1                                                NaN
 2                                                NaN
 3                                                NaN
 4  Tingkat Lokal (Kabupaten/Kota), Tingkat Region...
 5                     Tingkat Lokal (Kabupaten/Kota)

   Berapa jumlah saudara yang Anda miliki?  Apa Pekerjaan Ayah Anda?   \
 1                                   05-Jun     telah meninggal dunia
 2                                   03-Apr            Petani/pekebun
 3                                   03-Apr            Petani/pekebun
 4                                   03-Apr            Petani/pekebun
 5                                   01-Feb      Pegawai negeri sipil

   Apa Pendidikan Terakhir Ayah Anda? Berapa Range Penghasilan Ayah Anda?  \
 1                      SMP/sederajat           Rp. 500,000 - Rp. 999,999
 2           Diploma IV atau Strata I       Rp. 2,000,000 - Rp. 4,999,999
 3                      SMA/sederajat       Rp. 1,000,000 - Rp. 1,999,999
 4                      SMA/sederajat       Rp. 2,000,000 - Rp. 4,999,999
 5           Diploma IV atau Strata I       Rp. 2,000,000 - Rp. 4,999,999

   Apa Pekerjaan Ibu Anda? Apa Pendidikan Terakhir Ibu Anda?  \
 1    Pegawai negeri sipil                       Diploma III
 2             Perdagangan          Diploma IV atau Strata I
 3    Pegawai negeri sipil          Diploma IV atau Strata I
 4          Petani/pekebun                     SMA/sederajat
 5    Pegawai negeri sipil                       Diploma III

   Berapa Rentang Penghasilan Ibu Anda? Programming Skill
 1        Rp. 2,000,000 - Rp. 4,999,999                70
 2        Rp. 2,000,000 - Rp. 4,999,999                42
 3        Rp. 2,000,000 - Rp. 4,999,999                36
 4        Rp. 2,000,000 - Rp. 4,999,999                56
 5        Rp. 2,000,000 - Rp. 4,999,999                76

 [5 rows x 43 columns])

In [5]:
# Membuat OLAP Cube dengan pivot_table
olap_cube = df_cleaned.pivot_table(values="Programming Skill", 
                                   index="Program Studi Mahasiswa", 
                                   columns="Angkatan Mahasiswa", 
                                   aggfunc="mean")

# Menampilkan OLAP Cube
olap_cube

Angkatan Mahasiswa,2020,2021,2022,2023,2024,Sarjana Terapan Teknologi Rekayasa Perangkat Lunak
Program Studi Mahasiswa,,,,,,
DIII Teknik Komputer,NaN,NaN,61.666667,55.944444,57.390244,NaN
DIII Teknologi Informasi,NaN,NaN,54.583333,61.416667,56.789474,NaN
S1 Informatika,NaN,NaN,66.666667,51.166667,55.675676,NaN
S1 Sistem Informasi,NaN,NaN,63.750000,56.000000,55.357143,NaN
S1 Teknik Elektro,NaN,NaN,54.000000,55.250000,56.869565,NaN
Sarjana Terapan Teknologi Rekayasa Perangkat Lunak,74.0,54.0,55.132353,59.022222,57.461538,59.0

In [9]:
# 1. Roll-up: Rata-rata Programming Skill per Angkatan
roll_up = df_cleaned.groupby("Angkatan Mahasiswa")["Programming Skill"].mean()

roll_up

Angkatan Mahasiswa
2020                                                  74.000000
2021                                                  54.000000
2022                                                  56.561905
2023                                                  58.213235
2024                                                  56.745020
Sarjana Terapan Teknologi Rekayasa Perangkat Lunak    59.000000
Name: Programming Skill, dtype: float64

In [10]:
# 2. Drill-down: Rata-rata Programming Skill berdasarkan Program Studi dalam tiap Angkatan
drill_down = df_cleaned.pivot_table(values="Programming Skill", 
                                    index="Angkatan Mahasiswa", 
                                    columns="Program Studi Mahasiswa", 
                                    aggfunc="mean")

drill_down

Program Studi Mahasiswa,DIII Teknik Komputer,DIII Teknologi Informasi,S1 Informatika,S1 Sistem Informasi,S1 Teknik Elektro,Sarjana Terapan Teknologi Rekayasa Perangkat Lunak
Angkatan Mahasiswa,,,,,,
2020,NaN,NaN,NaN,NaN,NaN,74.000000
2021,NaN,NaN,NaN,NaN,NaN,54.000000
2022,61.666667,54.583333,66.666667,63.750000,54.000000,55.132353
2023,55.944444,61.416667,51.166667,56.000000,55.250000,59.022222
2024,57.390244,56.789474,55.675676,55.357143,56.869565,57.461538
Sarjana Terapan Teknologi Rekayasa Perangkat Lunak,NaN,NaN,NaN,NaN,NaN,59.000000

In [13]:
# 3. Slice: Memfilter hanya untuk Angkatan 2022
slice_2022 = df_cleaned[df_cleaned["Angkatan Mahasiswa"] == 2022]

slice_2022.head()

Empty DataFrame
Columns: [Email Address, Nama Lengkap Mahasiswa, NIM , Program Studi Mahasiswa, Angkatan Mahasiswa, Berapa lama waktu yang Anda habiskan menggunakan laptop setiap hari?  , Apakah Anda biasanya menggunakan media sosial melalui laptop?  , Berapa lama waktu yang Anda habiskan menggunakan media sosial melalui Laptop setiap hari?  , Media sosial apa yang Anda aktifkan saat menggunakan laptop? (Centang semua yang sesuai), Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Instagram melalui laptop? (Hubungkan dengan media sosial yang dipilih)  , Jenis konten apa yang paling sering Anda tonton atau akses di media sosial TikTok melalui laptop? (Hubungkan dengan media sosial yang dipilih)  , Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Youtube melalui laptop? (Hubungkan dengan media sosial yang dipilih)  , Berapa lama waktu yang Anda habiskan menggunakan ponsel setiap hari?  , Apakah Anda biasanya menggunakan media sosial melalui ponsel?  , Berapa lama waktu yang Anda habiskan menggunakan media sosial melalui Ponsel setiap hari?  , Media sosial apa yang Anda aktifkan saat menggunakan ponsel? , Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Instagram melalui ponsel? (Hubungkan dengan media sosial yang dipilih)  , Jenis konten apa yang paling sering Anda tonton atau akses di media sosial TikTok melalui ponsel? (Hubungkan dengan media sosial yang dipilih)  , Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Youtube melalui ponsel? (Hubungkan dengan media sosial yang dipilih)  , Apakah Anda pernah bergabung dengan Organisasi Kampus? ( Khususnya BEM atau MPM), Organisasi Apa yang pernah anda ikuti ?, Departemen apa yang pernah Anda ikuti ?, Apakah Anda terlibat dalam salah satu atau lebih UKM?  ,  UKM apa yang pernah anada ikuti ? (Dapat memilih lebih dari satu), Apakah Anda pernah mengikuti program kursus atau bootcamp? , Apa jenis kursus atau bootcamp yang pernah anda ikuti?, Berapa rata-rata peringkat Anda di kelas pada jenjang SD(Sekolah Dasar)? , Berapa rata-rata peringkat Anda di kelas pada jenjang SMP( Sekolah Menengah Pertama )? , Berapa rata-rata peringkat Anda di kelas pada jenjang SMA( Sekolah Menengah Atas  )? , Berapa rata-rata nilai Matematika Anda pada Ujian Sekolah (nilai Ijazah) di SMA? , Berapa rata-rata nilai Fisika Anda pada Ujian Sekolah (nilai Ijazah) di SMA? ( jika sebelumnya berasal dari IPS atau SMK bisa memilih range D), Berapa rata-rata nilai Biologi Anda pada Ujian Sekolah (nilai Ijazah)  di SMA?  ( jika sebelumnya berasal dari IPS atau SMK bisa memilih range D), Berapa rata-rata nilai Kimia Anda pada Ujian Sekolah (nilai Ijazah)  di SMA?  ( jika sebelumnya berasal dari IPS atau SMK bisa memilih range D), Apakah Anda pernah mengikuti olimpiade atau kompetisi akademik?, Tingkat manakah Anda mengikuti olimpiade? , Berapa jumlah saudara yang Anda miliki? , Apa Pekerjaan Ayah Anda? , Apa Pendidikan Terakhir Ayah Anda?, Berapa Range Penghasilan Ayah Anda?, Apa Pekerjaan Ibu Anda?, Apa Pendidikan Terakhir Ibu Anda?, Berapa Rentang Penghasilan Ibu Anda?, Programming Skill]
Index: []

[0 rows x 43 columns]

In [14]:
# 4. Dice: Memfilter untuk Angkatan 2022 dan Program Studi S1 Informatika
dice_2022_info = df_cleaned[(df_cleaned["Angkatan Mahasiswa"] == 2022) & 
                            (df_cleaned["Program Studi Mahasiswa"] == "S1 Informatika")]

dice_2022_info.head()

Empty DataFrame
Columns: [Email Address, Nama Lengkap Mahasiswa, NIM , Program Studi Mahasiswa, Angkatan Mahasiswa, Berapa lama waktu yang Anda habiskan menggunakan laptop setiap hari?  , Apakah Anda biasanya menggunakan media sosial melalui laptop?  , Berapa lama waktu yang Anda habiskan menggunakan media sosial melalui Laptop setiap hari?  , Media sosial apa yang Anda aktifkan saat menggunakan laptop? (Centang semua yang sesuai), Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Instagram melalui laptop? (Hubungkan dengan media sosial yang dipilih)  , Jenis konten apa yang paling sering Anda tonton atau akses di media sosial TikTok melalui laptop? (Hubungkan dengan media sosial yang dipilih)  , Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Youtube melalui laptop? (Hubungkan dengan media sosial yang dipilih)  , Berapa lama waktu yang Anda habiskan menggunakan ponsel setiap hari?  , Apakah Anda biasanya menggunakan media sosial melalui ponsel?  , Berapa lama waktu yang Anda habiskan menggunakan media sosial melalui Ponsel setiap hari?  , Media sosial apa yang Anda aktifkan saat menggunakan ponsel? , Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Instagram melalui ponsel? (Hubungkan dengan media sosial yang dipilih)  , Jenis konten apa yang paling sering Anda tonton atau akses di media sosial TikTok melalui ponsel? (Hubungkan dengan media sosial yang dipilih)  , Jenis konten apa yang paling sering Anda tonton atau akses di media sosial Youtube melalui ponsel? (Hubungkan dengan media sosial yang dipilih)  , Apakah Anda pernah bergabung dengan Organisasi Kampus? ( Khususnya BEM atau MPM), Organisasi Apa yang pernah anda ikuti ?, Departemen apa yang pernah Anda ikuti ?, Apakah Anda terlibat dalam salah satu atau lebih UKM?  ,  UKM apa yang pernah anada ikuti ? (Dapat memilih lebih dari satu), Apakah Anda pernah mengikuti program kursus atau bootcamp? , Apa jenis kursus atau bootcamp yang pernah anda ikuti?, Berapa rata-rata peringkat Anda di kelas pada jenjang SD(Sekolah Dasar)? , Berapa rata-rata peringkat Anda di kelas pada jenjang SMP( Sekolah Menengah Pertama )? , Berapa rata-rata peringkat Anda di kelas pada jenjang SMA( Sekolah Menengah Atas  )? , Berapa rata-rata nilai Matematika Anda pada Ujian Sekolah (nilai Ijazah) di SMA? , Berapa rata-rata nilai Fisika Anda pada Ujian Sekolah (nilai Ijazah) di SMA? ( jika sebelumnya berasal dari IPS atau SMK bisa memilih range D), Berapa rata-rata nilai Biologi Anda pada Ujian Sekolah (nilai Ijazah)  di SMA?  ( jika sebelumnya berasal dari IPS atau SMK bisa memilih range D), Berapa rata-rata nilai Kimia Anda pada Ujian Sekolah (nilai Ijazah)  di SMA?  ( jika sebelumnya berasal dari IPS atau SMK bisa memilih range D), Apakah Anda pernah mengikuti olimpiade atau kompetisi akademik?, Tingkat manakah Anda mengikuti olimpiade? , Berapa jumlah saudara yang Anda miliki? , Apa Pekerjaan Ayah Anda? , Apa Pendidikan Terakhir Ayah Anda?, Berapa Range Penghasilan Ayah Anda?, Apa Pekerjaan Ibu Anda?, Apa Pendidikan Terakhir Ibu Anda?, Berapa Rentang Penghasilan Ibu Anda?, Programming Skill]
Index: []

[0 rows x 43 columns]

# Dataset Iris

In [16]:
import pandas as pd

# Memuat dataset
file_path = "IrisDataset.csv"

# Membaca dataset 
df_iris = pd.read_csv(file_path, delimiter=";")

# Menampilkan beberapa baris pertama setelah perbaikan
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
# Membuat Data Cube Aggregation
data_cube = df_iris.pivot_table(values=["sepal_length", "sepal_width", "petal_length", "petal_width"], 
                                index="species", 
                                aggfunc=["mean", "min", "max"])

# Menampilkan hasil Data Cube Aggregation
data_cube

                   mean                                               min  \
           petal_length petal_width sepal_length sepal_width petal_length
species
setosa            1.462       0.246        5.006       3.428          1.0
versicolor        4.260       1.326        5.936       2.770          3.0
virginica         5.552       2.026        6.588       2.974          4.5

                                                         max              \
           petal_width sepal_length sepal_width petal_length petal_width
species
setosa             0.1          4.3         2.3          1.9         0.6
versicolor         1.0          4.9         2.0          5.1         1.8
virginica          1.4          4.9         2.2          6.9         2.5


           sepal_length sepal_width
species
setosa              5.8         4.4
versicolor          7.0         3.4
virginica           7.9         3.8

In [18]:
# 1. Roll-Up: Menghitung rata-rata ukuran kelopak dan mahkota tanpa membedakan spesies
roll_up = df_iris[["sepal_length", "sepal_width", "petal_length", "petal_width"]].mean()

roll_up

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [19]:
# 2. Drill-Down: Mengelompokkan rata-rata berdasarkan spesies dan panjang kelopak yang dikelompokkan
df_iris["sepal_length_category"] = pd.qcut(df_iris["sepal_length"], q=3, labels=["Pendek", "Sedang", "Panjang"])
drill_down = df_iris.pivot_table(values=["sepal_width", "petal_length", "petal_width"], 
                                 index="species", 
                                 columns="sepal_length_category", 
                                 aggfunc="mean")

drill_down

C:\Users\Administrator\AppData\Local\Temp\ipykernel_16460\2762966427.py:3: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  drill_down = df_iris.pivot_table(values=["sepal_width", "petal_length", "petal_width"],

                      petal_length                     petal_width            \
sepal_length_category       Pendek    Sedang   Panjang      Pendek    Sedang
species
setosa                    1.466667  1.420000       NaN    0.244444  0.260000
versicolor                3.583333  4.260606  4.627273    1.166667  1.315152
virginica                 4.500000  5.166667  5.809677    1.700000  1.916667

                                sepal_width
sepal_length_category   Panjang      Pendek    Sedang   Panjang
species
setosa                      NaN    3.366667  3.980000       NaN
versicolor             1.445455    2.483333  2.742424  3.009091
virginica              2.100000    2.500000  2.838889  3.067742

In [20]:
# 3. Slice: Memfilter hanya spesies "setosa"
slice_setosa = df_iris[df_iris["species"] == "setosa"]

slice_setosa.head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length_category
0,5.1,3.5,1.4,0.2,setosa,Pendek
1,4.9,3.0,1.4,0.2,setosa,Pendek
2,4.7,3.2,1.3,0.2,setosa,Pendek
3,4.6,3.1,1.5,0.2,setosa,Pendek
4,5.0,3.6,1.4,0.2,setosa,Pendek

In [21]:
# 4. Dice: Memfilter spesies "versicolor" dengan sepal_length > 6.0
dice_versicolor = df_iris[(df_iris["species"] == "versicolor") & (df_iris["sepal_length"] > 6.0)]

dice_versicolor.head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length_category
50,7.0,3.2,4.7,1.4,versicolor,Panjang
51,6.4,3.2,4.5,1.5,versicolor,Panjang
52,6.9,3.1,4.9,1.5,versicolor,Panjang
54,6.5,2.8,4.6,1.5,versicolor,Panjang
56,6.3,3.3,4.7,1.6,versicolor,Sedang